.imageTOP{
    background-image: url("../media/fondtop.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.imageTOP a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.containernav {
    padding-left: 10px;
    padding-right: 10px;
    width: 99%;
    margin: auto
}

header li{
    float: left;
}

nav{
    background-color: #000000;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav .navleft li {
    float: left;
}

nav .navright li {
    float: right;
}

nav .private{
    background-color: #1a1a1a;
    float: right;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover, nav li a:visited, nav li a:focus {
    color: white;
    text-decoration: none;
}

nav li a:hover {
    background-color: rgb(100, 100, 100);
}

.active {
    background-color: rgb(37, 63, 37);
    color: white;
}

.active:hover, .active:visited{
    background-color: rgb(37, 63, 37);
    color: white;
    text-decoration: none;
}

.lastMAJ{
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 10px;
    color: #000000;
    margin-top: 75px;
    padding-left: 10px;
    padding-right: 10px;
}

.phone{
    display: none;
}

.mainarticle{
    background-color: #333;
    color: #ffffff;
    padding-left: 3%;
    padding-right: 3%;
}

.preMaj{
    white-space: normal;
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    color: #333;
    word-break: break-word;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-family: monospace;
    text-align: justify;
}

.Majplus{
    color: #ffffff;
    text-shadow: none;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 5px;
    border-radius: 4px;
}

.Majplus:hover, .Majplus:visited, .Majplus:focus {
    color: white;
    text-decoration: none;
}

.Majplus:hover {
    background-color: rgb(100, 100, 100);
}

@media screen and (max-width: 770px) {
    nav ul li {
      text-align: center;
      float: none;
    }
    nav ul{
        position: relative;
        width: 100%;
        height: auto;
    }
    .imageTOP img{
        width: 50%;
    }
    nav .private{
        border-left: 0px;
    }
    .computer{
        display: none;
    }
    .phone{
        display: block;
    }
  }

html{
    background-color: #333;
}



