html, body, main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #cccccc;
}

h1, h2{
    font-family: "Optimus";
}

a{
    text-decoration: none;
    color: white;
}

/* barre de navigation */

.nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 52px;
    background-color: #333;
    box-shadow: 0 8px 18px #000000;
    z-index: 200;
    font-family: "Optimus";
}

.nav ul {
    height: 52px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    height: 52px;
    float: left;
}

.nav li a {
    height: 52px;
    display: block;
    text-align: center;
    font-size: 20px;
    padding: 15px;
}

.nav li a:hover:not(.active) {
    background-color: #111;
    transition: 1s;
}

.nav .active {
    background-color: #4CAF50;
}

@media screen and (max-width: 1000px) {
}

/* bannière top */

.imageTOP{
    background-image: url("../media/fondtop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.imageTOP img{
    position: absolute;
    top: 30%;
    left: 32%;
    width: 35%;
}

.imageTOP .butons{
    position: absolute;
    top: 70%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.butons a{
    padding: 20px;
    background-color: #333; 
    font-family: "Optimus";
    font-size: 150%;
    box-shadow: 0 8px 20px #000000, 8px 0 20px #000000, 0 -8px 20px #000000, -8px 0 20px #000000;
}

.butons a:hover{
    background-color: #111;
    transition: 1s;
}

/* section 1 */

section{
    width: 100%;
    height: 100%;
}

article{
    width: 65%;
    margin: auto;
    margin-top: 5%;
}

section h1{
    font-size: 300%;
    text-align: center;
}

article li{
    list-style-type: upper-roman;
    font-size: 125%;
    font-weight: bold;
    font-family: "Optimus";
}

@font-face{
    font-family: "Optimus";
    src: url("../fonts/OptimusPrinceps.ttf")
}

/* Page éditeur de fiches*/

.editeur{
    top: 10%;
    position: fixed;
    width: 30%;
    height: 85%;
    box-shadow: 8px 0px 18px #000000;
    background-color: #333 ;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    color: #ffffff;
}

.articlemargin{
    width: 50%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fichesP{
    width: 250px;
    height: 300px;
    margin-top: 50px;    
    border: #000000 solid 1px;
    overflow: hidden;
    background-color: #ffffff;
}

.fichesP img{
    display: flex;
    justify-content: center;
}

.editeur li{
    list-style-type: upper-roman;
    font-size: 125%;
    font-weight: bold;
    font-family: "Optimus";
    text-align: left;
}

.editeur p{
    text-align: left;
}

/* news */

#secVid{
    overflow: hidden;
    background-color: #000000;
    width: 100%;
    height: 100%;
}

#BackVideo{
    opacity: 0.8;
    width: 100%;

}

.newsEx{
    background-color: #000000 0.8;
}

.news{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.boxNews{
    background-image: url("../media/news/vieux.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    margin: 25px 20px;
    overflow: hidden;
}

.textNewsTOP{
    position: absolute;
    bottom: 0px;
    background-color: #000000;
    opacity: 0.8;
    width: 98%;
    height: 150px;
    z-index: 100;
    margin-top: 350px;
    color: #ffffff;
    padding: 10px 0px 0px 20px;
}

.textNewsTOP p{
    width: 50%;
}

.textNews{
    background-color: #000000;
    opacity: 0.8;
    width: 100%;
    height: 250px;
    z-index: 100;
    margin-top: 350px;
    padding: 2px 10px 15px 10px;
    color: #ffffff;
}

/* loader salle de jeu */

.tLoader{
    padding-top: 15%;
    text-align: center;
}

.loader{
    width: 200px;
    height: 100px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}

.carre1{
    width: 40px;
    height: 100px;
    background-color: #4CAF50;
    position: relative;
    float: left;
    animation-name: carre;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 0ms;
}

.carre2{
    width: 40px;
    height: 100px;
    background-color: #4CAF50;
    position: relative;
    float: left;
    animation-name: carre;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 50ms;
    left: 13px;
}

.carre3{
    width: 40px;
    height: 100px;
    background-color: #4CAF50;
    position: relative;
    float: left;
    animation-name: carre;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 100ms;
    left: 27px;
}

.carre4{
    width: 40px;
    height: 100px;
    background-color: #4CAF50;
    position: relative;
    float: left;
    animation-name: carre;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: 150ms;
    left: 40px;
}

@keyframes carre {
    0%   {
        top: 45px;
        height: 10px;
    }
    25% {
        top: 0px;
        height: 100px;
    }
    100%   {
        top: 45px;
        height: 10px;
    }
}

/* Contacts */

.Prezcontacts{
    margin: auto;
    margin-top: 10%;
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.Prezcontacts .contact{
    width: 35%;
    border: solid 1px #000000;
    text-align: center;
}



.Prezcontacts .contact .photocontact{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Prezcontacts .contact img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

/* inscriptions */

.fondformulaire{
    width: 100%;
    height: 100%;
	color: #fff;
	background: linear-gradient(-45deg, #205072, #329D9C, #36AA96, #4CAF50);
	background-size: 400% 400%;
    animation: fondu 15s ease infinite;
    display: flex;
    justify-content: center;
}

@keyframes fondu {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.formulaire{
    width: 40%;
    margin-top: 12%;
}

.formulaire input, .formulaire h1, .formulaire form{
    text-align: center; 
}


.formulaire h1{
    font-size: 300%;
}

.formulaire input{
    padding: 10px;
    margin-bottom: 25px;
    font-size: 150%;
    border-radius: 25px;
    border: solid 1px #333;
}

.formulaire .submit{
    border-radius: 0px;
    background-color: #333;
    color: #fff;
    font-family: "Optimus";
}

.connexion{
    display: block;
}

.inscriptions{
    display: none;
}

.log{
    position: absolute;
    bottom: 15%;
}

/* fiches perso */

.container{
    margin: auto;
    margin-top: 200px;
    border: 1px solid black;
}

.zones{
    display: flex;
    justify-content: space-around;
}

.zones form{
    display: flex;
    flex-direction: column;
}

.container h1, .container h2{
    text-align: center;
}

.attributs{
    width: 25%;
}

.attributs input[type="radio"]{
    float: right;
}

.humanite, .volonte, .sang{
    display: flex;
    justify-content: space-around;
}

.partie input[type="radio"]{
    float: none;
}
