html, body, main{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1, h2{
    font-family: "Optimus";
}

/* barre de navigation */

.nav{
    position: fixed;
    top: 0px;
    width: 100%;
    height: 52px;
    background-color: #333;
    box-shadow: 0 8px 18px #000000;
    z-index: +1;
    font-family: "Optimus";
}

.nav ul {
    height: 52px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    height: 52px;
    float: left;
}

.nav li a {
    height: 52px;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 15px;
}

.nav li a:hover:not(.active) {
    background-color: #111;
}

.nav .active {
    background-color: #4CAF50;
}

@media screen and (max-width: 1000px) {
}

/* bannière top */

.imageTOP{
    background-image: url("../media/fondtop.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.imageTOP img{
    position: absolute;
    top: 40%;
    left: 32%;
    width: 35%;
}

/* section 1 */

section{
    width: 100%;
    height: 100%;
}

article{
    width: 65%;
    margin: auto;
    margin-top: 5%;
}

section h1{
    font-size: 300%;
    text-align: center;
}

article li{
    list-style-type: upper-roman;
    font-size: 125%;
    font-weight: bold;
    font-family: "Optimus";
}

@font-face{
    font-family: "Optimus";
    src: url("../fonts/OptimusPrinceps.ttf")
}

/* Page éditeur de fiches*/

.editeur{
    top: 10%;
    position: fixed;
    width: 30%;
    height: 85%;
    box-shadow: 8px 0px 18px #000000;
    background-color: #333 ;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    color: #ffffff;
}

.articlemargin{
    width: 50%;
    margin-right: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.fichesP{
    width: 250px;
    height: 300px;
    margin-top: 50px;    
    border: #000000 solid 1px;
    overflow: hidden;
    background-color: #AAA;
}

.fichesP img{
    display: flex;
    justify-content: center;
}

.editeur h1{
}